@model e_CarSharing.Models.Vehicle

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="margin-top: 15%">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Deleting a car!</h2>
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>
    <div align="center">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Vehicle Name")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VehicleType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VehicleType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BeingUsed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BeingUsed)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary btn" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
    </div>