@model e_CarSharing.Models.Vehicle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 15%" align="center">
    <h4>Details of your Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.BeingUsed)
        {
            <dt>
                @Html.Label("Who's using it now")
            </dt>

            <dd>
                @ViewBag.regularUser
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeingUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeingUsed)
        </dd>

    </dl>
</div>
<p style="margin-left: 46%">
    @Html.ActionLink("Edit", "Edit", new { id = Model.VehicleId }, new {@class = "btn btn-primary btn"})
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-primary btn" })
</p>
