@model IEnumerable<e_CarSharing.Models.Delivery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="margin-top: 12%" align="center">
        <h2 class="page-section-heading text-center text-secondary mb-0">List of your Deliveries</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentalCost)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentalCost)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.RentalId }, htmlAttributes: new { @class = "control-label col-md-2" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.RentalId }, htmlAttributes: new { @class = "control-label col-md-2" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.RentalId }, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                </tr>
            }

        </table>
    </div>