@model IEnumerable<e_CarSharing.Models.Delivery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rental.RegularUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rental.RegularUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RentalId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RentalId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RentalId })
        </td>
    </tr>
}

</table>
