@model e_CarSharing.Models.IndexViewModel

@{
    ViewBag.Title = "Manage";
}
<div style="margin-top: 12%" align="center">
    <h4>Account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        @if (User.IsInRole("Owner"))
        {
            <dt>Number of Vehicles:</dt>
            <dd>@ViewBag.Count</dd>
            <dt>Most common type of Vehicles Owned:</dt>
            <dd>@ViewBag.CommonType</dd>
        }
        else if (User.IsInRole("User"))
        {
            <dt>Number of Rentals:</dt>
            <dd>@ViewBag.Count</dd>
            <dt>Most common type of Vehicles rented:</dt>
            <dd>@ViewBag.RentalsCommonType</dd>
        }
        else
        {
            <dt>Number of Owners registered:</dt>
            <dd>@ViewBag.OwnersCount</dd>
            <dt>Number of Vehicles registered:</dt>
            <dd>@ViewBag.VehiclesCount</dd>
            <dt>Number of Users registered:</dt>
            <dd>@ViewBag.UsersCount</dd>
        }

    </dl>
</div>
